<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ida:Tenant"
         value="Enter your tenant name here e.g. contoso.onmicrosoft.com" />
    <add key="ida:Audience"
         value="Enter your clientId here e.g. e9a5a8b6-8af7-4719-9821-0deef255f68e" />
    <add key="localStorageConnectionString"
         value="your storage account connection string here e.g. DefaultEndpointsProtocol=https;AccountName=storagehzcjzmgkgcunc0;AccountKey=bg6igyA9V0yYjW58si33bNvwKhyt7IKtYkAl62E078opGzs+pKvxskvcwubIGemy6e9rhaHEA==" />
    <add key="redisCacheConnectionString"
         value="Enter your Redis cache connection string here e.g.  mycache.redis.cache.windows.net,abortConnect=false,ssl=true,password=bg6igyA9V0yYjW58si33bNvwKhyt7IKtYkAl62E078opGzs+pKvxskvcwubIGemy6e9rhaHEA==" />
    <add key="AzureWebJobsDashboard"
         value="your storage account connection string here e.g. DefaultEndpointsProtocol=https;AccountName=storagehzcjzmgkgcunc0;AccountKey=bg6igyA9V0yYjW58si33bNvwKhyt7IKtYkAl62E078opGzs+pKvxskvcwubIGemy6e9rhaHEA==" />
    <add key="AzureWebJobsStorage"
         value="your storage account connection string here e.g. DefaultEndpointsProtocol=https;AccountName=storagehzcjzmgkgcunc0;AccountKey=bg6igyA9V0yYjW58si33bNvwKhyt7IKtYkAl62E078opGzs+pKvxskvcwubIGemy6e9rhaHEA==" />

    <!-- Add each storage account in the resource group here with its connection string.
        Each should have "Storage" as its prefix in the name.
        The deployment template automatically adds this to the Azure web app, this is
        only needed for debugging the Web Job locally      
    -->
    <add key="nameofstorageaccount0"
         value="your storage account connection string here e.g. DefaultEndpointsProtocol=https;AccountName=storagehzcjzmgkgcunc0;AccountKey=bg6igyA9V0yYjW58si33bNvwKhyt7IKtYkAl62E078opGzs+pKvxskvcwubIGemy6e9rhaHEA==" />
    <add key="nameofstorageaccount1"
         value="your storage account connection string here e.g. DefaultEndpointsProtocol=https;AccountName=storagehzcjzmgkgcunc1;AccountKey=VVgth9V0yYjhjd3bNvwK67fhjkAl62E078ogdcevxskvcwubI9ijfdhgdee9rhaDFH==" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0"
                      sku=".NETFramework,Version=v4.6" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage"
                          publicKeyToken="31bf3856ad364e35"
                          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.1.0.0"
                         newVersion="6.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json"
                          publicKeyToken="30ad4fe6b2a6aeed"
                          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0"
                         newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>